---
import { getCollection, getEntry, render } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { withBase } from "../../utils/utils";

const { slug } = Astro.params;
const member = await getEntry("board", slug);
if (!member) {
	return Astro.redirect("/404", 404);
}
const { Content } = await render(member);
const memberTitlePrefix = member.data.title ? `${member.data.title}: ` : "";
const memberPageTitle = `${memberTitlePrefix}${member.data.name}`;
const memberImageTransitionStyle = `view-transition-name: ${member.data.slug}-image`;
const memberTitleTransitionStyle = `view-transition-name: ${member.data.slug}-title`;
export async function getStaticPaths() {
	const board = await getCollection("board");
	return board.map((member) => ({ params: { slug: member.data.slug } }));
}
---

<style>
	:root {
		--direction: 1;
		@view-transition {
			navigation: auto;
			types: slider;
		}
	}
</style>
<Layout title={memberPageTitle}>
	<section class="grid">
		<div class="image-text">
			<img
				src={member.data.image.src === "" ? "https://placehold.co/300x375" : withBase(member.data.image.src)}
				alt={member.data.image.alt}
				width="300"
				height="375"
				class="cover"
				style={memberImageTransitionStyle}
			>
			<div>
				<h1 style={memberTitleTransitionStyle}>{memberPageTitle}</h1>
				<Content />
			</div>
		</div>
	</section>
</Layout>
